
doctype html(lang='en')
head
    meta(charset='UTF-8')
    |
    title Hiccup&apos;s Life
    |
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    |
    style.
        #brand-logo {
            height: 30px;
            width: 70px;
        }
        .head {
            color: rgba(20, 9, 62, 0.97);
            font-size: 40pt;
            font-style: oblique;
            font-family: "Californian FB";
        }
        .bs-docs-footer {
            padding-top: 20px;
            padding-bottom: 30px;
            margin-top: 100px;
            color: #99979c;
            text-align: center;
            background-color: #2a2730
        }
        .bs-docs-footer-links {
            padding-left: 0;
            margin-bottom: 20px
        }
        .bs-docs-footer a {
            color: #fff
        }
        .bs-docs-footer-links li {
            display: inline-block
        }
        .bs-docs-footer-links li + li {
            margin-left: 50px
        }
body
    .container
        //
          Navigation bar
          ==================================================================
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container
                // Brand and toggle get ground for better mobile display
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                        span.sr-only Toggle Navigation
                        |
                        span.icon-bar
                        |
                        span.icon-bar
                        |
                        span.icon-bar
                        |
                        span.icon-bar
                    |
                    a.navbar-brand(href='#home', data-toggle='tooltip', data-placement='bottom', title="Hiccup's Life")
                        img#brand-logo(alt='website-logo', src='../img/hiccup.jpg')
                // Collect the nav links , forms, and other content for toggling
                #navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.nav-pills.navbar-right
                        li.active(role='presentation', data-toggle='tooltip', data-placement='bottom', title='Home')
                            a(href='index')
                                h4 Home
                                |
                                span.sr-only
                        |
                        li(role='presentation', data-toggle='tooltip', data-placement='bottom', title='Blog')
                            a(href='blog')
                                h4 Blog
                        |
                        li(role='presentation', data-toggle='tooltip', data-placement='bottom', title='About Us')
                            a(href='../html/about.html')
                                h4 About Us
                        //
                          <li role="presentation" data-toggle="tooltip" data-placement="bottom"
                          title="Log in"><a href="login.html" ><h4>Log in</h4></a></li>
                        li.dropdown(role='presentation')
                            a.dropdown-toggle(href='#games', data-toggle='dropdown', data-placement='bottom', title='Games', role='button', aria-expanded='false')
                                h4
                                    | Games
                                    span.caret
                            |
                            ul.dropdown-menu(role='menu')
                                li.list-group-item
                                    a(href='../html/tictactoe.html') Tictactoe Single
                                |
                                li.list-group-item
                                    a(href='../html/tictactoe_double.html') Tictactoe Double
                                |
                                li.list-group-item
                                    a(href='../html/imarble.html') Imarbe Game
                        //
                          Navigation form ->
                          <li role="presentation">
                          <form class="navbar-form navbar-right" role="search">
                          <div class="form-group">
                          <input type="text" class="form-control" placeholder="search"/>
                          </div>
                          <button type="submit" class="btn btn-success">Go</button>
                          </form>
                          </li>
                // navbar collapse end
            // container end
        |
        br
        br
        br
        br
        //
          Page Header
          ===========================================================================
        .page-header
            h1.head
                | HICCUP !
                small Being Smart &amp; Being Gamer ..
        //
          Carousel
          =============================================================================
        .row
            .col-lg-10.col-lg-offset-1.col-md-6.col-md-offset-3.col-xs-12
                #myCarousel.carousel.slide(data-ride='carousel')
                    // indicators
                    ol.carousel-indicators
                        li.active(data-target='#myCarousel', data-slide-to='0')
                        |
                        li(data-target='#myCarousel', data-slide-to='1')
                        |
                        li(data-target='#myCarousel', data-slide-to='2')
                        |
                        li(data-target='#myCarousel', data-slide-to='3')
                    // wrapper for the slides
                    .carousel-inner(role='listbox')
                        .item.active
                            img.first-slide(src='../img/games.png', style='height: 440pt;width: 100%;')
                            |
                            .container
                                .carousel-caption
                                    | Life is nothing without the GAMES ....
                        |
                        .item
                            img(src='../img/learn.png', style='height: 440pt;')
                            |
                            .container
                        |
                        .item
                            img(src='../img/programmer.jpg', style='height: 440pt;width: 100%;')
                            |
                            .container
                                .carousel-caption
                                    | Program your Life with ur Programmar ..
                        |
                        .item
                            img(src='../img/one.jpg', style='height: 440pt;width: 100%;')
                            |
                            .container
                                .carousel-caption
                                    | Lets Begin the life with ur Click ...
                    // controls
                    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                        |
                        span.sr-only Previous
                    |
                    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                        |
                        span.sr-only Next
                // Carousel end
        // row  end
        br
        //
          Marketing messaging and features
          ==================================================
        // Wrap the rest of the page in another container to center all the content.
        hr.featurette-divider
        |
        .container.marketing
            // Three columns of text below the carousel
            .row
                .col-lg-4
                    img.img-circle(data-toggle='tooltip', data-placement='bottom', title='Quotes', src='../img/hiccuplife.png', alt='Generic placeholder image', width='140', height='140')
                    |
                    h2 Quotes
                    |
                    p
                    |
                    p
                        a.btn.btn-info(href='#', role='button') View details &raquo;
                // /.col-lg-4
                .col-lg-4
                    img.img-circle(data-toggle='tooltip', data-placement='bottom', title='New Technology', src='../img/hiccup-dragon.png', alt='Generic placeholder image', width='140', height='140')
                    |
                    h2 New Tech
                    |
                    p
                    |
                    p
                        a.btn.btn-info(href='#', role='button') View details &raquo;
                // /.col-lg-4
                .col-lg-4
                    img.img-circle(data-toggle='tooltip', data-placement='bottom', title='Life Reality', src='../img/life.jpg', alt='Generic placeholder image', width='140', height='140')
                    |
                    h2 Life Reality
                    |
                    p
                    |
                    p
                        a.btn.btn-info(href='#', role='button') View details &raquo;
                // /.col-lg-4
            // /.row
        //
          START THE FEATURETTES
          ======================================================================
        hr.featurette-divider
        |
        .row.featurette
            .col-md-7(align='')
                h2.featurette-heading
                    | IMarble Game
                    small
                        span.text-muted Have Talent So Take challenge.
                |
                p.lead
                    | IMarble game is the famous game . It looks very simple game but it is very complicated .
                    | Only You just have to done
                    | is eliminating all the marble and at last only one marble is left .
                |
                button#play.btn.btn-danger.btn-lg(type='button', data-toggle='tooltip', data-placement='bottom', title='Play', onclick="location.href='../public/html/imarble.html'")
                    | Play Now
                |
                script.
                    $('#play').on('click', function () {
                        $(this).button('play').link();
                    });
            |
            .col-md-5
                a(href='../html/imarble.html')
                    img.featurette-image.img-responsive.center-block(src='../public/img/imarble.jpg', alt='Imarble image', style='height: 500px;width: 500px;')
        |
        hr.featurette-divider
        |
        .row.featurette
            .col-md-7.col-md-push-5
                h2.featurette-heading
                    | Tic Tac Toe Game
                    small
                        span.text-muted For Double Player.
                |
                p.lead
                    | Yes , Tic Tac Toe game is same as like Cross And Zeros. I know everyone had played this game
                    | in their
                    | school life even though Someone also play this game for time pass . It is very simple and easy game
                    | for
                    b.text-danger
                        em two player .
                |
                button.btn.btn-danger.btn-lg(type='button', data-toggle='tooltip', data-placement='bottom', title='Play', onclick="location.href='../public/html/tictactoe_double.html'")
                    | Play Now
            |
            .col-md-5.col-md-pull-7
                a(href='../html/tictactoe_double.html')
                    img.featurette-image.img-responsive.center-block(src='../img/tictac.jpg', alt='TicTacToe image', style='height: 500px;width: 500px;')
        |
        hr.featurette-divider
        |
        .row.featurette
            .col-md-7
                h2.featurette-heading
                    | Tic Tac Toe Game.
                    span.text-muted For Single player.
                |
                p.lead
                    | Tic Tac Toe game or Cross Zeros , is the famous children addictive game as well as elder
                    | also played this game.
                    | This game is for
                    b.text-danger
                        em Single Player
                    | .
                |
                button.btn.btn-danger.btn-lg(type='button', data-toggle='tooltip', data-placement='bottom', title='Play', onclick="location.href='../public/html/tictactoe.html'")
                    | Play Now
            |
            .col-md-5
                a(href='../html/tictactoe.html')
                    img.featurette-image.img-responsive.center-block(src='../img/tic.png', alt='TicTacToe image', style='height: 500px;width: 500px;')
        |
        hr.featurette-divider
        // /END THE FEATURETTES
        //
          Pager
          ==========================================================
        nav
            ul.pager
                li.previous.disabled
                    a(href='#')
                        span(aria-hidden='true') &larr;
                        | Previous
                |
                li.next
                    a(href='../html/blog.html')
                        | Next
                        span(aria-hidden='true') &rarr;
        //
          Pagingation
          ============================================================
        nav.text-center
            ul.pagination.pagination-lg
                li
                    a(href='#')
                        span(aria-hidden='true') &laquo;
                        span.sr-only Previous
                |
                li.active
                    a(href='index.html') 1
                |
                li
                    a(href='../html/blog.html') 2
                |
                li
                    a(href='../html/about.html') 3
                // <li><a href="login.html">4</a></li>
                li
                    a(href='../html/blog.html')
                        span.sr-only Next
                        span(aria-hidden='true') &raquo;
    //
      Footer
      ==========================================================
    footer.bs-docs-footer(role='contentinfo')
        .container-fluid
            ul.bs-docs-footer-links
                li
                    a(href='https://github.com/Md-Hiccup') GitHub
                |
                li
                    a(href='https://facebook.com/md.hussain.9231/about') Facebook
                |
                li
                    a(href='../html/about.html') About
            |
            p.pull-right
                a(href='#') Back to top
            |
            p
                | &copy; 2016 Hiccup&apos;s life Company, Inc. &middot;
                a(href='#') Privacy
                |  &middot;
                a(href='#') Terms
            |
            p
                | Designed and built with all the love in the world by
                a(href='https://www.facebook.com/md.hussain.9231/about') @Dastan .
                |             Maintained by the
                a(href='https://github.com/Md-Hiccup') core team
                |             with the help of
                a(href='https://github.com/Md-Hiccup') our contributors
                | .
            |
            p
                | Code licensed
                a(rel='license', href='https://github.com/Md-Hiccup', target='_blank')
                | , docs
                |
                a(rel='license', href='https://creativecommons.org/licenses/by/3.0/', target='_blank') CC BY 3.0
                | .
    script.
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='../js/jquery-1.12.1.min.js')
    script(src='../js/jquery-1.12.1.min.js')
    script(src='../js/bootstrap.min.js')
